* {
  color: #fff;
  text-align: center;
  background-color:#292a2d ;
}

.container {
  width: 350px;
  margin-top: 150px;
}

.form-group {
  margin: 3px;
}

.form-group:last-of-type+button {
  margin-top:15px;
}